{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}



<form class="container my-5" style="overflow-x: scroll;" action="{% url 'assessment' %}" method="POST">
    {% csrf_token %}
    <h2 class="">Assessment</h2>
    <table class="table mt-3">   <!-- This contsructs the table */-->
        <thead style="position: sticky; top: 60px; z-index: 1; background-color: white;  background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal; border-radius: 15px;     padding: 10px;box-shadow: 6px 4px 8px;text-align: center; " >
          <tr style="  background-color:#081C8D;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal ;color:#FFFFFF">
            <th scope="col">#</th>        <!-- These are the column headings */-->
            <th scope="col">Belief</th>
            <th scope="col">Agree</th>
            <th scope="col">Disagree</th>
            <th scope="col">No Comment</th>
          </tr>
        </thead>
        <tbody>

            {% for data in questions %}  <!-- tr constructs the rows */-->
            <tr style="  background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal;">
                <th scope="row" style="border-radius: 3px;padding: 1px 5px;display: flex;justify-content: space-between; margin-bottom: 15px;text-align : center;word-wrap: normal ;">{{ forloop.counter }}</th>
                <td>{{ data.question }}</td>
                <td> <!-- actual element in the row */-->
                    <input class="radio-btn" type="radio" name="{{ data.id }}" value="agree">
                </td>
                <td>
                    <input class="radio-btn" type="radio" name="{{ data.id }}" value="disagree">
                </td>
                <td>
                    <input class="radio-btn" type="radio" name="{{ data.id }}" value="no_comment">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mb-5 mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}