{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}



<div style="background-image: url('{% static 'truthlist/TruthLogo.PNG' %}'); background-position: center; height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; z-index: -1;">
    <div class="container" style="display: flex; flex-direction: column; justify-content: end; height: 50vh;text-align: right;color:#FFFFFF">
       
    </div>
</div>


<br><br><br><br><br>

<script>
    const radioBtns = document.querySelectorAll('.radio-btn');
    radioBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            if ('{{user.is_authenticated}}' == 'False'){
                window.location.href = "{% url 'login' %}";
            }
        })
    })
</script>
{% endblock %}