{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}



<div style="background-image: url('{% static 'truthlist/logo_Writing.jpg' %}'); background-position: center; background-size: 100%;display: block; margin-left: auto; margin-right: auto;width: 90%;;">
    <div class="container" style="display: flex;   height: 93vh;text-align: left;color:#FFFFFF">
       
    </div>
</div>


<br><br><br><br><br>

<script>
    const radioBtns = document.querySelectorAll('.radio-btn');
    radioBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            if ('{{user.is_authenticated}}' == 'False'){
                window.location.href = "{% url 'login' %}";
            }
        })
    })
</script>
{% endblock %}