{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5" style="overflow-x: scroll;">
    <h2 class="">Pending Questions</h2>
    {% if questions %}
        <table class="table mt-3">
            <thead style="position: sticky; top: 60px; z-index: 1; background-color: white;background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal; border-radius: 15px;     padding: 10px;box-shadow: 6px 4px 8px;text-align: center; ">
            <tr style="  background-color:#081C8D;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal ;color:#FFFFFF">
                <th scope="col">#</th>
                <th scope="col">Believe</th>
                <th scope="col">Category</th>
                <th scope="col">Is Fundamental</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

                {% for q in questions %}
                <tr style="  background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);;text-align : center;word-wrap: normal;">
                    <th scope="row" style="border-radius: 3px;padding: 1px 5px;display: flex;justify-content: space-between; margin-bottom: 15px;text-align : center;word-wrap: normal ;">{{ forloop.counter }}</th>
                    <td>{{ q.question }}</td>
                    <td>{{ q.category.name }}</td>
                    <td>{{ q.is_fundamental }}</td>
                    <td>
                        <a class="btn btn-sm mr-1 btn-primary" {% if user.is_superuser %} href="{% url 'approve_question' q.id %}" {% else %} onclick="alert('You are not authorized to perform this action')" {% endif %}
                        >Approve</a>
                        <a class="btn btn-sm btn-danger" {% if user.is_superuser %} href="{% url 'reject_question' q.id %}" {% else %} onclick="alert('You are not authorized to perform this action')" {% endif %}
                        >Reject</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No pending questions</p>
    {% endif %}
</div>
{% endblock %}