

form {
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  
}

button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color:#081C8D;
  color: white;
  border: 1px solid #081C8D;
}

button:hover,
button:active {
  background-color: #081C8D;
  border-color: #081C8D;
}

.form-control {
  margin-bottom: 1rem;
  
  display: flex;
  flex-direction: row;
  
}

.form-control input {
  margin-top: 5rem;
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  width: 20rem;
  
}

h1 {
  
  text-align: center;
  
}



.form-control input:focus {
  border-color:#081C8D;
  outline: none;
  background-color: #f4eeff;
  display: flex;
  flex-direction: row;
  
}

.form-control label {
  margin-top: 0.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #680000;
}

.errors input {
  border-color: #680000;
  background-color: #fde3e3;
}

.errors label {
  color: #680000;
}

